.container {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 1.6rem;
  color: #38618c;

  margin-bottom: 1.3rem;
}

.moves_container {
  max-height: 18rem;
  min-width: 15rem;
  max-width: 25rem;

  margin: 1rem 0 1.2rem 0;
  padding: 1.2rem 0;

  text-align: center;

  border: solid #38618c 2px;
  border-radius: 4px;

  overflow-y: scroll;
  scrollbar-width: thin;
}

.moves_container hr {
  width: 75%;
}

.total {
  font-weight: 600;
  color: #38618c;
}
